{$N8N_HOST} {
	reverse_proxy n8n:5678
}

{$NC_HOST} {
	reverse_proxy nocodb:8080
}

{$MINIO_HOST} {
	reverse_proxy minio:9000
}

{$LIBRECHAT_HOST} {
	reverse_proxy librechat:3080
}

{$STATUS_HOST} {
	reverse_proxy uptime-kuma:3001
}

{$BESZEL_HOST} {
	reverse_proxy beszel:8090
}

